/* paleta: bg FFF5EB, text 2E6171, link 2F242C, link hover 9C95DC */
body {
    background-color: #FFF5EB;
    line-height: 20px;
    color: #2E6171 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: #2F242C;
    text-decoration: none;
}
.summary {
    text-align: center;
    list-style: none;

}
.summary:hover {
    color: #9C95DC;
    font-size: larger;
}
.cidadestado {
    font-style: italic;
}
em {
    font-style: normal;
    font-weight: bold;
}
img {
    margin-top: 10px;
    border-radius: 100%;
}
.fototexto {
    text-align: center;
}
button {
    display: inline;
    width: 100px;
    height: 40px;
    margin: 7px 7px;
    cursor: pointer;
}
#botoes {
    text-align: center;
}